<h1>Hello, {{ username }}!</h1>
<p>We've received a request to reset the password for your Fitatam account.</p>
<p>You can reset your password by clicking the link below.</p>
<a href="{{ reset_url }}">Confirm Now</a>
<p>If you did not request a password reset, you can safely ignore this email.</p>
<p>Regards, <br /> Fitatam Developers</p>